name: Run Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '20'ã€
          
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: '9.0.6'

      - name: Install dependencies
        run: pnpm install

      - run: pnpm run build

      - name: Run test
      - run: pnpm run test
